.button {
}
.button:hover{
    -fx-background-color: #4682B4;
    -fx-text-fill: #000000;
}

.icon{
}

.icon:hover{
    -fx-background-color: #4682B4;
    -fx-text-fill: #FFFFFF;
}


.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.my-date-picker {
    -fx-font: 14px "Century Gothic";
}

.signUp-date-picker {
    -fx-font: 16px "Century Gothic";
}

.add-date_picker{
    -fx-font: 16px "Century Gothic";
    -fx-background-color: #4682B4;
    -fx-control-inner-background:#4682B4;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-text-inner-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

.text-area{
    -fx-font: 12px "Century Gothic";
    -fx-background-color: #4682B4;
    -fx-control-inner-background:#4682B4;
    -fx-text-fill:#FFFFFF;
}

.add-buttons{
    -fx-font: 16px "Century Gothic";
    -fx-background-color: #4682B4;
    -fx-background-radius: 10;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;
}
.text-area-msg{
    -fx-font: 16px "Century Gothic";
    -fx-background-color: #FFFFFF;
    -fx-control-inner-background:#FFFFFF;
    -fx-text-fill:#4682B4;
}